<div class="container top">
  <div class="row">

    <div class="col-12 text-center">
      <img height="104px" width="1140px" src="/assets/images/Group6.png" alt="">
      <img class="ind-5" src="/assets/images/Group4.png" alt="">
    </div>

    <div class="col-5 m-auto pb-4">
      <p class="qun text-center"><span class="qun-number"><b>Q:1 </b></span> {{ questions.question}}</p>
    </div>
  </div>

  <!-- box of the answers -->
  <div>
    <div class="row pd-div">
      <button [ngClass]="{'btn-selectd':selected === answers[0],'btn-tr':correct  === answers[0],'btn-fs':incorrect === answers[0] }"
        class="col-5 ml-auto mr-2 b-style btn-pos" (click)="select(answers[0])">
        <span [hidden]="correct !== answers[0]" class="icon-pos"><img width="50px" src="/assets/images/Group.png" alt=""></span>
        <span [hidden]="!incorrect || selected !== answers[0]" class="icon-pos"><img width="50px" src="/assets/images/Group3.png"
            alt=""></span>
        <p class="text-center b-style">{{answers[0]}}</p>
      </button>
      <button [ngClass]="{'btn-selectd':selected === answers[1],'btn-tr':correct  === answers[1],'btn-fs':incorrect === answers[1] }"
        class="col-5 mr-auto ml-2 b-style btn-pos" (click)="select(answers[1])">
        <span [hidden]="correct !== answers[1]" class="icon-pos"><img width="50px" src="/assets/images/Group.png" alt=""></span>
        <span [hidden]="!incorrect|| selected !== answers[1]" class="icon-pos"><img width="50px" src="/assets/images/Group3.png"
            alt=""></span>
        <p class="text-center b-style">{{answers[1]}}</p>
      </button>
    </div>
    <div class="row pd-div">
      <button [ngClass]="{'btn-selectd':selected === answers[2],'btn-tr':correct  === answers[2],'btn-fs':incorrect === answers[2] }"
        class="col-5 ml-auto mr-2 b-style btn-pos" (click)="select(answers[2])">
        <span [hidden]="correct !== answers[2]" class="icon-pos"><img width="50px" src="/assets/images/Group.png" alt=""></span>
        <span [hidden]="!incorrect|| selected !== answers[2]" class="icon-pos"><img width="50px" src="/assets/images/Group3.png"
            alt=""></span>
        <p class="text-center b-style text-center">{{ answers[2]}}</p>
      </button>
      <button [ngClass]="{'btn-selectd':selected === answers[3],'btn-tr':correct  === answers[3],'btn-fs':incorrect === answers[3] }"
        class="col-5 mr-auto ml-2 b-style btn-pos" (click)="select(answers[3])">
        <span [hidden]="correct !== answers[3]" class="icon-pos"><img width="50px" src="/assets/images/Group.png" alt=""></span>
        <span [hidden]="!incorrect || selected !== answers[3]" class="icon-pos"><img width="50px" src="/assets/images/Group3.png"
            alt=""></span>
        <p class="text-center b-style">{{answers[3]}}</p>
      </button>
    </div>
  </div>

  <!--  Button for submition -->

  <div class="row mb-5 mt-5">
    <div class="col-3 pb-3 m-auto ">
      <input (click)="okBtn()" [disabled]="!selected" class="btn btn-lg btn-block btn-ok" type="submit" [value]="btnString">
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-3 m-auto">
      <span class="pag-bullet num-0 ml-1 mr-3"></span>
      <span class="pag-bullet num-1 mr-3"></span>
      <span class="pag-bullet num-2 mr-3"></span>
      <span class="pag-bullet num-3 mr-3"></span>
      <span class="pag-bullet num-4 mr-3"></span>
      <span class="pag-bullet num-5 mr-3"></span>
      <span class="pag-bullet num-6 mr-3"></span>
      <span class="pag-bullet num-7 mr-3"></span>
      <span class="pag-bullet num-8 mr-3"></span>
      <span class="pag-bullet num-9"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img width="1140px" src="/assets/images/Group5.png" alt="">
    </div>
  </div>


</div>